{% extends 'base.html' %}

{% block body %}
<div class="container-fluid bg-primary text-white">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <h1 class="display-5 text-center pt-5">Ticketmaster</h1>
            <h2 class="fw-bold text-center pb-5">Quickly find tickets around you</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    {% block content %}
                      <h2>Sign Up</h2>
                      {{ form.as_div }}
                      <input type="submit" class="btn btn-secondary m-2" value="Sign Up">
                    {% endblock %}

                </form>
                <a href="{% url 'login' %}">
                    <button class="btn btn-secondary m-2">Sign In</button>
                </a>
        </div>
    </div>
</div>
<a href="{% url 'search-results' %}">Go to Ticketmaster Search</a>  <!-- temp here for my testing, you can delete if needed -Emilio -->
{% endblock %}