{% extends 'base.html' %}

{% block body %}
<div class="container-fluid bg-primary text-white">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <h1 class="display-5 text-center pt-5">Ticketmaster</h1>
            <h2 class="fw-bold text-center pb-5">Quickly find tickets around you</h2>
            {% block content %}
                <h2>Log In</h2>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}

                      <h2>Sign In</h2>
                      {{ form.as_p }}
                      <input type="submit" class="btn btn-primary m-2" value="Submit">
                </form>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}