{% extends 'base.html' %}

{% block title %}
    Saved Events
{% endblock %}

{% block body %}

    <div class="container bg-white my-3 p-4 shadow">
        <div class="row justify-content-center">
            <div class="col-lg-12">
            <h1>Saved Events</h1>
                <ul>
                    {% for event in events %}
                        <li>
                            <p>{{ event.name }}</p>
                            {{ event.date }}
                            {{ event.image }}
                            <a href="{% url 'update-event' event.id %}">, (Update)</a>
                            <a href="{% url 'delete-event' event.id %}">, (Delete)</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
